<div id="33644292" draggable="true">
  <div class="sc-bwzfXH dgBhRp">
    <div id="chart">
      <div style="color: black; height: 100%; width: 100%;">
        <p>dsfsdf</p>
      </div>
      <button width="6" class="ui button edit-button-on">Edit</button>
    </div>
  </div>
</div>

<div>
  <div id="26294701" draggable="true">
    <div class="sc-bwzfXH dgBhRp">
      <div id="chart">
        <div style="color: black; height: 100%; width: 100%;">
          <p>hello!</p>
        </div>
        <button width="6" class="ui button edit-button-on">Edit</button>
      </div>
    </div>
  </div>
</div>
